{% extends "baseapp/home.html" %}
{% load static %}


{% block feedloader %}

<div class="feedLoader">
    <div class="scrollable-div">
        <div class="height">
            <div class="header" style="border-bottom: 1px solid rgb(118, 118, 118); padding-bottom: 10px;">
                <h1 class="ms-3" style="position: relative; top: 10px; text-align: center; color: white;">Edit profile</h1>
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <!--remaining form-->
                <div class="main-form">
                    <div class="main-form-data">
                        <div class="img" style="width: 30%; height: 100%;">
                            <div><h4 class="form-t">Profile Imgae :</h4></div>
                        </div>
                        <div class="input" style="width: 70%; height: 100%;">
                            <input name="profileImg" class="form-control form" id="formFileLg" type="file">
                            <!-- <button type="submit" id="uploadBtn" class="btn btn-primary mt-2">Upload Image</button> -->
                        </div>
                    </div>

                    <div class="main-form-data">
                        <div class="img" style="width: 30%; height: 100%;">
                            <div><h4 class="form-t">Cover Imgae :</h4></div>
                        </div>
                        <div class="input" style="width: 70%; height: 100%;">
                            <input name="coverImg" class="form-control form" id="formFileLg" type="file">
                            <!-- <button type="submit" id="uploadBtn" class="btn btn-primary mt-2">Upload Image</button> -->
                        </div>
                    </div>

                    <div class="main-form-data">
                        <div class="img" style="width: 30%; height: 100%;">
                            <div><h4 class="form-t">Name :</h4></div>
                        </div>
                        <div class="input" style="width: 70%; height: 100%;">
                            <input name="name" class="form-control form" id="formFileLg" type="text">
                            <!-- <button type="submit" id="uploadBtn" class="btn btn-primary mt-2">Upload Image</button> -->
                        </div>
                    </div>

                    <div class="main-form-data">
                        <div class="img" style="width: 30%; height: 100%;">
                            <div><h4 class="form-t">Phone no:</h4></div>
                        </div>
                        <div class="input" style="width: 70%; height: 100%;">
                            <input name="phoneno" class="form-control form" id="formFileLg" type="text">
                            <!-- <button type="submit" id="uploadBtn" class="btn btn-primary mt-2">Upload Image</button> -->
                        </div>
                    </div>

                    <div class="main-form-data">
                        <div class="img" style="width: 30%; height: 100%;">
                            <div><h4 class="form-t">Gender:</h4></div>
                        </div>
                        <div class="input" style="width: 70%; height: 100%;">
                            <input name="gender" class="form-control form" id="formFileLg" type="text">
                            <!-- <button type="submit" id="uploadBtn" class="btn btn-primary mt-2">Upload Image</button> -->
                        </div>
                    </div>

                    <div class="main-form-data">
                        <div class="img" style="width: 30%; height: 100%;">
                            <div><h4 class="form-t">D.O.B:</h4></div>
                        </div>
                        <div class="input" style="width: 70%; height: 100%;">
                            <input name="dob" class="form-control form" id="formFileLg" type="date">

                            <!-- <button type="submit" id="uploadBtn" class="btn btn-primary mt-2">Upload Image</button> -->
                        </div>
                    </div>

                    <div class="main-form-data">
                        <div class="img" style="width: 30%; height: 100%;">
                            <div><h4 class="form-t">Bio:</h4></div>
                        </div>
                        <div class="input" style="width: 70%; height: 100%;">
                            <textarea name="bio" class="form-control form" id="formFileLg" type="text" style="max-width: 100%;"></textarea>
                            <!-- <button type="submit" id="uploadBtn" class="btn btn-primary mt-2">Upload Image</button> -->
                        </div>
                    </div>

                    <div ><input class="sb-btn" name="sunmit" type="submit" value="Submit"></div>
                </div>

                

            </form>
        </div>
    </div>
</div>




<style>

    .form{
        width: 80%;
    }

    .sb-btn{
        background-color: #0070e0; /* Green */
        border: none;
        border-radius: 10px;
        color: white;
        padding: 15px 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 50px;
        cursor: pointer;
    }

    .main-form{
        position: relative;
        margin-top: 20px ;
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .input{
        display: flex;
        align-items: center;
    }

    .img-upload{
        width: 80%;
        height: 30%;
    }

    .img {
        display: flex;
        justify-content: flex-start ;
        align-items: center;
        margin-top: 5px;
        margin-left: 25px;
    }

    .form-t{
        color: white;
    }

    .pfp {
        margin-top: 20px;
        width: 100%;
        height: 25vh;
        display: flex;
    }

    .main-form-data {
        width: 100%;
        height: 10vh;
        display: flex;
    }

    .header {
        width: 100%;
        height: 80px;
    }

    .scrollable-div {
        width: 100%;
        height: 95vh;
        overflow-y: auto;
        margin-top: 3vh;
    }

    .scrollable-div::-webkit-scrollbar {
        width: 1px;
        /* Width of the scrollbar */
    }

    .scrollable-div::-webkit-scrollbar-track {
        background-color: rgb(29, 29, 29);
        /* Track color */
    }

    .scrollable-div::-webkit-scrollbar-thumb {
        background: #616161;
        /* Thumb color */

    }

    .scrollable-div::-webkit-scrollbar-thumb:hover {
        background: #555;
        /* Thumb color on hover */
    }

    .height {
        width: 100%;
        height: 100%;
        padding: 0 10px;
    }

    
</style>

{% endblock feedloader %}